.my-text-color-blue{
	color:  #0464E0;
}
.my-text-color-black{
	color: #333333;
}
.my-text-color-red{
	color: #FA5151;
}
.my-bg-color-blue{
	background-color:  #0464E0;
}
.my-bgColor-hui{
	background-color: #EDEFF2;
}
.my-size-24{
	font-size: 24rpx;
}